{{ $item := .item }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
{{ $resource := partial "blox-core/functions/get_featured_image.html" $item }}

<div class="section-container">
  <div class="card-title-left">
    <h3>{{ $item.Title }}</h3>
  </div>
  <div class="content-card">
    {{ with $resource }}
      {{ $image := .Resize "600x" }}
      {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
      <img src="{{ $image.RelPermalink }}" class="card-image" alt="{{ $item.Title }}">
    {{ end }}
    <h4 class="card-title">{{ $item.Title }}</h4>
    <p class="card-text">{{ $item.Params.subtitle | default $item.Summary }}</p>
  </div>
</div>