<div class="row">
  <div class="col-12 mb-4">
    <h1 style="font-size: 2.5em;">{{ with .page.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
    {{ with .page.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  <div class="col-12">
    <div class="row isotope projects-container">
      {{ range where site.RegularPages "Type" (.page.Params.content.page_type | default "project") }}
        <div class="col-lg-4 project-item isotope-item {{ delimit .Params.tags " " }}" data-tags="{{ delimit .Params.tags " " }}">
          <div class="card">
            {{ with .Params.image }}
            <img src="{{ . | relURL }}" class="card-img-top" alt="{{ $.Title }}">
            {{ end }}
            <div class="card-body">
              <h4 class="card-title">{{ .Title }}</h4>
              <p class="card-text">{{ with .Params.summary }}{{ . | markdownify | emojify }}{{ end }}</p>
              <a href="{{ .RelPermalink }}" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>