{{ $item := .item }}
{{ $has_attachments := partial "functions/has_attachments" $item }}

<div class="media stream-item">
  {{ with $item.Params.image }}
  {{ $image := resources.GetMatch (printf "**/%s" .) }}
  {{ with $image }}
  <div class="mr-3">
    <a href="{{ $item.RelPermalink }}" {{ if $has_attachments }}data-attachment="{{ ($item.Resources.ByType "application").RelPermalink }}"{{ end }}>
      <img src="{{ .RelPermalink }}" class="rounded" alt="{{ $item.Title }}" style="width: 150px;">
    </a>
  </div>
  {{ end }}
  {{ end }}
  <div class="media-body">
    <h3 class="article-title mb-0 mt-0">
      <a href="{{ $item.RelPermalink }}" {{ if $has_attachments }}data-attachment="{{ ($item.Resources.ByType "application").RelPermalink }}"{{ end }}>{{ $item.Title }}</a>
    </h3>
    {{ with $item.Params.summary }}
    <div class="article-style">
      {{ . | markdownify | emojify }}
    </div>
    {{ end }}
    {{ if $item.Params.tags }}
    <div class="stream-meta article-metadata">
      {{ range $item.Params.tags }}
      <a class="badge badge-light" href="{{ (site.GetPage (printf "tags/%s" (urlize .))).RelPermalink }}">{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>