<div class="row justify-content-center">
    <div class="col-12">
      <div class="row isotope projects-container js-layout-masonry">
        {{ range $index, $item := .page.Params.content.page_type }}
          {{ $widget := printf "widgets/%s" . }}
          {{ if in (slice "Demo" "Showcase") $widget }}
            {{ $widget = "widgets/portfolio" }}
          {{ end }}
          {{ $path := "" }}
          {{ with $.page.Params.content.folder }}
            {{ $path = . }}
          {{ else }}
            {{ $path = "project" }}
          {{ end }}
          {{ $query := where site.RegularPages "Type" $path }}
          {{ $count := len $query }}
          {{ range $index, $item := $query }}
            {{ $link := .RelPermalink }}
            {{ $target := "" }}
            {{ if .Params.external_link }}
              {{ $link = .Params.external_link }}
              {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
            {{ end }}
            <div class="col-lg-4 col-md-6 col-sm-12 isotope-item mb-5">
              <div class="card h-100">
                {{ with .Params.image }}
                <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="card-image hover-overlay">
                  <img src="{{ . }}" class="card-img-top" alt="{{ $.page.Params.design.flip_alt_rows }}" style="height: 200px; object-fit: cover;">
                </a>
                {{ end }}
                <div class="card-body d-flex flex-column">
                  <h4 class="card-title mb-3">
                    <a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ .Title }}</a>
                  </h4>
                  <div class="card-text flex-grow-1">
                    {{ if .Params.summary }}
                      {{ .Params.summary | markdownify | emojify }}
                    {{ else if .Params.abstract }}
                      {{ .Params.abstract | markdownify | emojify }}
                    {{ else if .Summary }}
                      {{ .Summary | markdownify | emojify }}
                    {{ end }}
                  </div>
                  <div class="card-text mt-3">
                    {{ partial "network_links" . }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>